In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import Timedelta, Timestamp
from collections import namedtuple

from IPython.core.debugger import set_trace

In [47]:
df_estacao = pd.read_csv("DATA/dados_estacoes_5min.csv",
        parse_dates=["DATE"],
        index_col=["DATE"])

df_radar = pd.read_csv("DATA/dados_radar_semHorarioVerao.csv",
                      parse_dates=['DATE'],
                      index_col=["DATE"])

df_estacao.sort_index(inplace=True)
df_radar.sort_index(inplace=True)

In [48]:
df_est = df_estacao[df_estacao > 0].dropna(how="all",axis=0).dropna(how="all",axis=1)
indices = df_est.index
eventos = []

evento = []
last_indice = indices[0]
evento.append(last_indice)
for indice in indices[1:]:
    evento.append(indice)
    # Eventos com um gap maior que 10 min são eventos distintos
    if indice - last_indice > Timedelta("10min"):
        # eventos maiores que 10 min
        if len(evento) > 1:
            eventos.append(evento)
        evento = []
    last_indice = indice
print(len(eventos))

1685

In [49]:
# Evento aleátorio para tests
evento = eventos[3]
evento

[Timestamp('2016-01-01 15:50:00'),
 Timestamp('2016-01-01 16:00:00'),
 Timestamp('2016-01-01 16:10:00'),
 Timestamp('2016-01-01 16:20:00'),
 Timestamp('2016-01-01 16:30:00'),
 Timestamp('2016-01-01 16:40:00'),
 Timestamp('2016-01-01 16:50:00'),
 Timestamp('2016-01-01 19:00:00')]

In [50]:
df_est.loc[evento].dropna(axis=1, how="all")

                     MB_GAM1  MB_PRO1  MB_PRO2  MB_SEG1
DATE
2016-01-01 15:50:00      NaN      NaN      NaN    15.50
2016-01-01 16:00:00      NaN     3.00      NaN     2.50
2016-01-01 16:10:00      NaN     9.75     6.75      NaN
2016-01-01 16:20:00      NaN     5.50     5.75      NaN
2016-01-01 16:30:00      NaN     1.00     4.75      NaN
2016-01-01 16:40:00     0.25      NaN      NaN     0.25
2016-01-01 16:50:00     0.50      NaN      NaN      NaN
2016-01-01 19:00:00      NaN     1.75      NaN      NaN

In [51]:
df_evento = df_est.loc[evento].dropna(axis=1, how="all")
evento_estacao = df_evento.MB_PRO1.dropna()
evento_estacao

DATE
2016-01-01 16:00:00    3.00
2016-01-01 16:10:00    9.75
2016-01-01 16:20:00    5.50
2016-01-01 16:30:00    1.00
2016-01-01 19:00:00    1.75
Name: MB_PRO1, dtype: float64

In [52]:
evento_estacao.sum()

21.0

In [53]:
evento_estacao.index

DatetimeIndex(['2016-01-01 16:00:00', '2016-01-01 16:10:00',
               '2016-01-01 16:20:00', '2016-01-01 16:30:00',
               '2016-01-01 19:00:00'],
              dtype='datetime64[ns]', name='DATE', freq=None)

In [54]:
def plot_event(radar,station,name):
    plt.figure()
    plt.title(name)
    station.plot(label="STATION")
    radar.plot(label="RADAR")
    plt.legend()
    
    file_name = "IMAGENS/eventos/" + str(name)+"jpg"
    plt.savefig(file_name)

É necessario ainda separar os eventos por estação, como é possivel ver acima os eventos começam em horarios distintos por estaçoes.

In [55]:
def test_min_pluvi(serie, indice):
    test_indice = np.arange(indice - Timedelta("6h"),indice,Timedelta("10min"))
    test_min_pluvi = serie.loc[test_indice].sum()
    
    return test_min_pluvi > 1

In [56]:
from IPython.core.debugger import set_trace
df = pd.DataFrame(columns=["start", "station","duration","Pluviometro","RADAR"])
stations = df_est.columns
for station in stations:
    df_station = df_est[station]
    df_station_nonull = df_station[df_station > 0].dropna()
    indices = df_station_nonull.index
    dict_evento = {}
    evento = []
    last_indice = indices[0]
    for indice in indices[1:]:
        evento.append(last_indice)
        #set_trace()
        # Eventos com um gap maior que 6 horas são eventos distintos
        # E com menos de 1 mm de chuva
        
        
        
        diff_ = indice - evento[0]
                 
        if  indice - last_indice > Timedelta("6h") or (diff_ >= Timedelta("6h") and test_min_pluvi(df_station,indice)):
            total_event = df_station.loc[evento].sum()
              
            dict_evento["start"] = evento[0]
            dict_evento["station"] = station
            dict_evento["duration"] = (evento[-1] - evento[0]) + Timedelta("10min")
            dict_evento["Pluviometro"] = total_event
            try:
                dict_evento["RADAR"] = df_radar[station].loc[evento].sum()
                name = station + str(evento[0])
                #plot_event(df_radar[station].loc[evento],df_station.loc[evento],name)
            except KeyError:
                dict_evento["RADAR"] = np.nan

            df = df.append(dict_evento, ignore_index=True)
            evento = []
        last_indice = indice

/home/rossuna/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
/home/rossuna/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  This is separate from the ipykernel package so we can avoid doing imports until

In [57]:
df.head()

                start   station duration  Pluviometro     RADAR
0 2016-10-07 14:40:00  MB_ANHA1 00:10:00         0.75       NaN
1 2016-10-13 08:30:00  MB_ANHA1 00:10:00         0.25  0.214636
2 2016-10-14 07:20:00  MB_ANHA1 05:40:00        12.00  5.553790
3 2016-10-20 16:00:00  MB_ANHA1 05:10:00        21.00  3.895931
4 2016-10-21 00:40:00  MB_ANHA1 00:10:00         0.25  0.000000

In [58]:
#df = df[df.Pluviometro > 2.5]

In [59]:
df.reset_index(drop=True,inplace=True)

In [60]:
df["ERROR"] = df.Pluviometro - df.RADAR

In [61]:
df.describe()

                     duration  Pluviometro        RADAR        ERROR
count                    7676  7676.000000  5319.000000  5319.000000
mean   0 days 02:58:54.575299     4.468667     2.730135     2.341304
std    0 days 07:38:00.922334     8.884756     7.203191     8.337878
min           0 days 00:10:00     0.062500     0.000000   -73.688426
25%           0 days 00:20:00     0.250000     0.000000     0.125000
50%           0 days 01:50:00     1.375000     0.122333     0.739536
75%           0 days 04:50:00     4.250000     1.573984     2.747830
max          18 days 06:20:00   143.000000    77.844120   142.990000

In [62]:
df[df.Pluviometro == df.Pluviometro.max()]

                   start  station duration  Pluviometro  RADAR   ERROR
6398 2017-01-18 18:20:00  MB_SEG3 01:20:00        143.0   0.01  142.99

In [63]:
df.drop(labels=df.Pluviometro.idxmax(),axis=0,inplace=True)

In [64]:
df.groupby("station").describe()["ERROR"]

,count,mean,std,min,25%,50%,75%,max
station,,,,,,,,
MB_ANHA1,103.0,3.541931,12.156568,-48.711029,0.199461,0.875000,5.711830,74.307254
MB_ANHA3,70.0,-1.317516,8.460861,-57.474742,-0.826156,0.104582,0.812500,12.435524
MB_ANHA4,113.0,-0.210460,4.098325,-24.076761,0.042348,0.125000,0.562500,12.453052
MB_ANHA5,135.0,0.722974,8.271078,-73.688426,0.114487,0.909943,2.622429,13.285372
MB_ANHA6,13.0,0.453071,0.683254,-0.406759,0.062500,0.062500,0.750000,2.139308
MB_ANHA7,148.0,-2.420864,6.497225,-31.649216,-2.757408,-0.001724,0.250000,7.874757
MB_ANHA7.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_ANHA8,33.0,1.375581,7.419515,-28.805520,0.080130,0.546071,1.437500,25.000000
MB_ANHA8.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_BAL1,88.0,0.250079,6.078205,-51.031620,0.048564,0.244163,0.937500,9.469203
MB_BAL2,263.0,1.926895,7.845711,-31.993145,0.062500,0.733494,2.409369,55.129179
MB_BAL2A,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_BAND1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_BAND1A,52.0,8.381935,10.866933,-0.630790,0.936559,3.500000,11.345898,39.594511
MB_BAND1A.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_BAND4,131.0,2.881823,4.180619,-0.832132,0.250000,0.951793,3.620155,20.302008
MB_COQ1,36.0,0.897562,2.623867,-7.421996,0.624429,1.000000,1.000000,12.000000
MB_COQ2,165.0,6.231241,11.100958,-6.503247,0.487010,1.822532,6.654016,81.304868
MB_COQ2.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_COQ2A,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_COQ3,263.0,3.614706,7.719611,-33.424123,0.314756,1.250000,3.750000,54.866146
MB_GAM1,165.0,4.258164,7.045911,-7.768884,0.468952,1.943967,4.800329,36.000000
MB_GAM1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_IMB3,68.0,5.418521,9.575675,-24.243324,0.477356,1.883384,7.762849,47.767222
MB_IMB5,110.0,-0.457043,5.242327,-36.039445,0.062500,0.389341,1.145332,4.844444
MB_IMB6,13.0,0.047082,1.641972,-4.625211,-0.017805,0.062500,0.500000,3.000000
MB_LAG1,55.0,6.647719,11.227368,0.120060,0.750000,2.293802,6.706263,64.430834
MB_LAG1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_LAG2,113.0,1.002243,3.680155,-15.530457,0.062500,0.416993,1.592171,20.812643
MB_LAG4,46.0,1.553442,3.028347,-1.316828,0.125000,0.483906,1.142233,14.404831
MB_LAG5,19.0,0.166793,0.465270,-1.237052,0.125000,0.125000,0.237392,1.500000
MB_LAJ1,20.0,0.129510,0.565656,-1.465015,0.059929,0.062500,0.078125,1.802200
MB_LAJ2,273.0,2.947331,7.307488,-29.289478,0.237510,0.950405,3.222753,52.432211
MB_LAJ3,151.0,3.628813,11.357944,-28.931085,0.250000,1.414344,3.797189,79.831827
MB_LAJ7,163.0,4.244689,8.409891,-14.345734,0.250000,1.228663,4.595298,46.577680
MB_LAJ8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_LAJ9,134.0,6.083426,10.705052,-3.848215,0.250000,1.808031,6.797991,69.126326
MB_PRO1,376.0,1.759075,5.025030,-19.370563,0.062738,0.727282,2.649445,32.065169
MB_PRO2,99.0,2.476093,6.052899,-7.086676,-0.007192,0.549507,3.229172,29.317715
MB_PRO3,139.0,3.479425,8.811179,-18.877553,0.229975,0.808734,2.699577,52.286378
MB_PRO4,253.0,0.089064,5.400046,-40.548628,0.062500,0.398096,1.309233,16.335853
MB_PRO5,157.0,5.248565,11.241121,-9.351424,0.342316,1.466066,3.521915,70.489707
MB_PRO6,200.0,-1.229284,5.845151,-49.929871,-0.020139,0.312500,0.933934,3.541653
MB_SEG1,162.0,3.819523,7.677068,-9.779917,0.250000,0.913296,4.223708,37.666378
MB_SEG1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_SEG3,203.0,4.096795,11.368528,-19.903118,0.250000,1.214268,3.502014,78.845937
MB_SEG3A,261.0,1.737584,6.658414,-44.128226,0.062500,0.250000,2.000000,38.119731
MB_SEG6,304.0,0.161228,8.820659,-55.878166,-0.082715,0.351065,1.990133,44.144412
MB_SEG6A,87.0,4.631468,7.121676,-6.773094,0.500000,2.375000,5.669471,36.823634
MB_SEG9,134.0,0.998661,3.647503,-18.943624,0.157244,0.937500,2.354229,10.665731

In [65]:
df.to_csv("DATA/eventos6h.csv",index=False)