In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import Timedelta, Timestamp
from collections import namedtuple

from IPython.core.debugger import set_trace

In [26]:
df_estacao = pd.read_csv("DATA/dados_estacoes_5min.csv",
        parse_dates=["DATE"],
        index_col=["DATE"])

df_radar = pd.read_csv("DATA/dados_radar_semHorarioVerao.csv",
                      parse_dates=['DATE'],
                      index_col=["DATE"])

df_estacao.sort_index(inplace=True)
df_radar.sort_index(inplace=True)

In [27]:
df_est = df_estacao[df_estacao > 0].dropna(how="all",axis=0).dropna(how="all",axis=1)
indices = df_est.index
eventos = []

evento = []
last_indice = indices[0]
evento.append(last_indice)
for indice in indices[1:]:
    evento.append(indice)
    # Eventos com um gap maior que 10 min são eventos distintos
    if indice - last_indice > Timedelta("10min"):
        # eventos maiores que 10 min
        if len(evento) > 1:
            eventos.append(evento)
        evento = []
    last_indice = indice
print(len(eventos))

1685

In [28]:
# Evento aleátorio para tests
evento = eventos[3]
evento

[Timestamp('2016-01-01 15:50:00'),
 Timestamp('2016-01-01 16:00:00'),
 Timestamp('2016-01-01 16:10:00'),
 Timestamp('2016-01-01 16:20:00'),
 Timestamp('2016-01-01 16:30:00'),
 Timestamp('2016-01-01 16:40:00'),
 Timestamp('2016-01-01 16:50:00'),
 Timestamp('2016-01-01 19:00:00')]

In [29]:
df_est.loc[evento].dropna(axis=1, how="all")

                     MB_GAM1  MB_PRO1  MB_PRO2  MB_SEG1
DATE
2016-01-01 15:50:00      NaN      NaN      NaN    15.50
2016-01-01 16:00:00      NaN     3.00      NaN     2.50
2016-01-01 16:10:00      NaN     9.75     6.75      NaN
2016-01-01 16:20:00      NaN     5.50     5.75      NaN
2016-01-01 16:30:00      NaN     1.00     4.75      NaN
2016-01-01 16:40:00     0.25      NaN      NaN     0.25
2016-01-01 16:50:00     0.50      NaN      NaN      NaN
2016-01-01 19:00:00      NaN     1.75      NaN      NaN

In [30]:
df_evento = df_est.loc[evento].dropna(axis=1, how="all")
evento_estacao = df_evento.MB_PRO1.dropna()
evento_estacao

DATE
2016-01-01 16:00:00    3.00
2016-01-01 16:10:00    9.75
2016-01-01 16:20:00    5.50
2016-01-01 16:30:00    1.00
2016-01-01 19:00:00    1.75
Name: MB_PRO1, dtype: float64

In [31]:
evento_estacao.sum()

21.0

In [32]:
evento_estacao.index

DatetimeIndex(['2016-01-01 16:00:00', '2016-01-01 16:10:00',
               '2016-01-01 16:20:00', '2016-01-01 16:30:00',
               '2016-01-01 19:00:00'],
              dtype='datetime64[ns]', name='DATE', freq=None)

In [33]:
def plot_event(radar,station,name):
    plt.figure()
    plt.title(name)
    station.plot(label="STATION")
    radar.plot(label="RADAR")
    plt.legend()
    
    file_name = "IMAGENS/eventos/" + str(name)+"jpg"
    plt.savefig(file_name)

É necessario ainda separar os eventos por estação, como é possivel ver acima os eventos começam em horarios distintos por estaçoes.

In [40]:
df = pd.DataFrame(columns=["start", "station","duration","Pluviometro","RADAR"])
stations = df_est.columns
for station in stations:
    df_station = df_est[station]
    df_station_nonull = df_station[df_station > 0].dropna()
    indices = df_station_nonull.index
    dict_evento = {}
    evento = []
    last_indice = indices[0]
    for indice in indices[1:]:
        evento.append(last_indice)
        #set_trace()
        # Eventos com um gap maior que 10 min são eventos distintos
        if indice - last_indice > Timedelta("10min"):
            # eventos maiores que 10 min

            dict_evento["start"] = evento[0]
            dict_evento["station"] = station
            dict_evento["duration"] = (evento[-1] - evento[0]) + Timedelta("10min")
            dict_evento["Pluviometro"] = df_station.loc[evento].sum()
            try:
                dict_evento["RADAR"] = df_radar[station].loc[evento].sum()
                name = station + str(evento[0])
                #plot_event(df_radar[station].loc[evento],df_station.loc[evento],name)
            except KeyError:
                dict_evento["RADAR"] = np.nan

            df = df.append(dict_evento, ignore_index=True)
            evento = []
        last_indice = indice

/home/rossuna/anaconda3/envs/ic/lib/python3.6/site-packages/ipykernel_launcher.py:22: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [41]:
df.head()

                start   station duration  Pluviometro     RADAR
0 2016-10-07 14:40:00  MB_ANHA1 00:10:00         0.75       NaN
1 2016-10-13 08:30:00  MB_ANHA1 00:10:00         0.25  0.214636
2 2016-10-14 07:20:00  MB_ANHA1 00:10:00         0.25  0.594438
3 2016-10-14 08:10:00  MB_ANHA1 00:50:00         3.25  1.569860
4 2016-10-14 09:10:00  MB_ANHA1 01:40:00         5.00  2.367961

In [42]:
df["ERROR"] = (df.Pluviometro - df.RADAR)

In [43]:
df.head()

                start   station duration  Pluviometro     RADAR     ERROR
0 2016-10-07 14:40:00  MB_ANHA1 00:10:00         0.75       NaN       NaN
1 2016-10-13 08:30:00  MB_ANHA1 00:10:00         0.25  0.214636  0.035364
2 2016-10-14 07:20:00  MB_ANHA1 00:10:00         0.25  0.594438 -0.344438
3 2016-10-14 08:10:00  MB_ANHA1 00:50:00         3.25  1.569860  1.680140
4 2016-10-14 09:10:00  MB_ANHA1 01:40:00         5.00  2.367961  2.632039

In [44]:
df.groupby("station").describe()["ERROR"]

,count,mean,std,min,25%,50%,75%,max
station,,,,,,,,
MB_ANHA1,227.0,1.373968,7.510792,-43.993928,0.062500,0.250000,1.500000,73.831623
MB_ANHA3,192.0,-0.541608,4.812046,-53.711793,-0.082000,0.062500,0.224768,10.498964
MB_ANHA4,258.0,-0.116645,2.964486,-23.562928,-0.004432,0.062500,0.187500,11.306447
MB_ANHA5,405.0,0.200299,3.393859,-39.607525,0.062500,0.062500,0.375000,12.410372
MB_ANHA6,29.0,0.192325,0.371388,-0.406759,0.062500,0.062500,0.187500,1.680681
MB_ANHA7,372.0,-0.989119,3.813844,-30.720814,-0.441556,0.018925,0.062500,7.126998
MB_ANHA7.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_ANHA8,86.0,0.385156,3.815237,-26.513181,0.027925,0.062500,0.534553,13.250000
MB_ANHA8.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_BAL1,206.0,0.078793,3.983515,-50.502213,-0.011609,0.062500,0.241399,8.377209
MB_BAL2,654.0,0.662420,4.538851,-32.041409,0.044805,0.062500,0.500000,39.422829
MB_BAL2A,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_BAND1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_BAND1A,139.0,2.974732,6.782403,-2.302113,0.222745,0.250000,2.389341,37.701499
MB_BAND1A.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_BAND4,302.0,1.245095,2.823687,-2.476738,0.214270,0.238953,0.695052,18.080696
MB_COQ1,51.0,0.633573,2.215922,-7.421996,0.490509,0.950374,1.000000,12.000000
MB_COQ2,468.0,2.211690,6.905425,-8.055448,0.220641,0.250000,1.031944,79.627144
MB_COQ2.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_COQ2A,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_COQ3,702.0,1.350239,4.819185,-27.472135,0.062500,0.250000,0.953452,54.616146
MB_GAM1,477.0,1.598692,5.076547,-7.939225,0.210484,0.250000,0.968204,59.638367
MB_GAM1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_IMB3,159.0,2.189603,6.345007,-24.243324,0.187721,0.250000,1.573169,48.337404
MB_IMB5,316.0,-0.172993,2.303949,-20.302982,0.062500,0.062500,0.263710,4.875000
MB_IMB6,18.0,0.034004,1.287233,-4.625211,-0.031789,0.095114,0.437500,2.000000
MB_LAG1,131.0,2.976383,7.641950,-8.486299,0.250000,0.300404,2.235239,61.430834
MB_LAG1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_LAG2,287.0,0.385247,2.517727,-20.947082,0.051426,0.062500,0.429651,19.519614
MB_LAG4,122.0,0.580183,2.527355,-13.051214,0.062500,0.062500,0.312500,14.404831
MB_LAG5,19.0,0.166793,0.465270,-1.237052,0.125000,0.125000,0.237392,1.500000
MB_LAJ1,21.0,0.120367,0.544446,-1.465015,0.062500,0.062500,0.125000,1.802200
MB_LAJ2,675.0,1.104624,4.297616,-29.627850,0.062500,0.231259,0.750000,49.122185
MB_LAJ3,385.0,1.240781,5.417471,-17.868435,0.062500,0.193077,0.812500,48.504839
MB_LAJ7,427.0,1.521966,4.811437,-8.961147,0.167326,0.250000,0.867626,42.800884
MB_LAJ8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_LAJ9,325.0,2.403243,6.338649,-3.689499,0.083010,0.250000,1.226444,49.792358
MB_PRO1,1041.0,0.636743,2.861984,-19.381842,0.062500,0.188830,0.500000,21.883548
MB_PRO2,295.0,0.831436,3.474349,-7.086676,0.024628,0.223042,0.441199,26.932692
MB_PRO3,343.0,1.395452,5.565985,-18.344898,0.062500,0.143186,0.688844,52.628363
MB_PRO4,722.0,0.006751,3.133532,-40.673628,0.033794,0.062500,0.250000,10.356616
MB_PRO5,395.0,2.076012,6.809184,-7.657190,0.062500,0.237666,1.073317,63.750000
MB_PRO6,576.0,-0.436275,3.367684,-49.992371,0.005674,0.062500,0.228861,3.479153
MB_SEG1,438.0,1.336787,4.732760,-19.389521,0.130651,0.250000,0.743694,41.430108
MB_SEG1.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MB_SEG3,527.0,1.841702,9.112313,-16.480142,0.062500,0.187500,1.000000,142.990000
MB_SEG3A,1192.0,0.366252,3.136259,-44.290525,0.052168,0.062500,0.108654,41.242518
MB_SEG6,822.0,0.055825,4.808945,-53.367204,-0.011464,0.125000,0.383939,44.144412
MB_SEG6A,219.0,1.835332,4.427477,-7.742481,0.062500,0.250000,1.211146,34.538466
MB_SEG9,407.0,0.323423,1.995966,-12.667865,0.062500,0.062500,0.373457,10.603231

In [45]:
df.to_csv("DATA/eventos.csv",index=False)